.repetition-play__audio-verse {
    display: flex;
    justify-content: space-around;
}
.repetition-play__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px 0;
    row-gap: 7px;
}
.repetition-play__noinfo {
    text-align: center;
    color: #888888;
}
.repetition-play__present-lang {
    display: inline-block;
    width: 120px;
    color: green;
}
.repetition-play__dict-link a, .repetition-play__dict-link a:visited, .repetition-play__dict-link a:focus,
.repetition-play__dict-link a:active {
    color: brown;
}