.repetition-audio__url {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 10px;
    align-items: center;
}
.repetition-audio__position-bar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.repetition-audio__audio-player {
    display: flex;
    justify-content: space-between;
}
.repetition-audio__position-title {
    padding: 3px;
    font-size: 150%;
}

.repetition-audio__position-grid {
    padding: 3px;
    display: grid;
    grid-template-columns: 80px 130px 7fr;
    height: 50vh;
    overflow-y: scroll;
}

.repetition-audio__url-label {
    flex: 0 0 100px;
}

.repetition-audio__url-input {
    flex: 1 0 calc(100vw - 130px);
}

.repetition-audio__position-grid-text {
    height: 48px;
    place-content: center;
    padding-left: 7px;
    cursor: pointer;
}
